        body {
    background-color: #000;
}

.container {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.astronaut-sy {
    animation: astronaut 2s infinite alternate ease-in-out;
}

@keyframes astronaut {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px) rotate(0.6deg);
        100% {
            transform: translateY(0px);
        }