/* General */

.container {
    margin: 0 auto;
    max-width: 1024px;
    height: 100%;
}

.navbar {
    background-color: #00000000;
    min-height: 50px;
}

.navbar-brand img {
    width: 80%;
}

.logo-image {
    margin-left: 2rem;
}

.cd-section.row {
    min-height: 100vh;
}

.cd-section.container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    height: 100vh;
}


/* main header */
/* left or right is now used just as a name*/

.header-sy-right {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #DBEEF2;
    min-height: 100vh;
}

.header-sy-right h1 {
    line-height: 1;
    color: #363636;
    font-size: 3rem;
    margin-top: 40px;
}

.header-sy-right h1>span {
    color: #13B5AF;
}

.header-sy-right h2 .pre-title {
    font-size: 2.5rem;
    color: #363636;
}

.header-sy-right h2 .pre-title img {
    width: 55px;
    margin-right: 10px;
    margin-top: -5px;
}

.header-sy-right div h1, .header-sy-right div h2 {
    margin-left: 15rem;
}

.header-sy-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url('../img/Home/landing.png');
    background-position: right;
}

.header-sy-left div {
    width: 100%;
}

.header-sy-left object {
    width: 60%;
}

.header-image {
    width: 100%;
}


/* Button */

button.btn.icon-sy a {
    color: #13B5AF;
    font-size: 1rem;
}

.feature-item-sy .icon-sy {
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

.feature-item-sy .icon-sy i {
    color: #03d0d8;
    padding-left: .5rem;
    vertical-align: middle;
}

.box-button.b01 {
    left: 20%;
    bottom: 10%;
    position: absolute;
    text-align: center;
}

.box-button.b02 {
    left: 50%;
    bottom: 13%;
    position: absolute;
    text-align: center;
}

.box-button.b03 {
    left: 75%;
    bottom: 8%;
    position: absolute;
    text-align: center;
}

.button-cruz {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    cursor: pointer;
    transition: ease-out 0.3s;
}

.button-sy {
    height: 50px;
    width: 250px;
    border: 1px solid #fff;
    background: none;
    cursor: pointer;
}


/* Icons */

i.lni-world {
    padding: 1.2rem .5rem;
    color: #363636;
}

div.icon {
    float: left;
    border: 1px solid #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.icon i {
    font-size: 36px;
    color: #fff;
    line-height: 80px;
}


/* Process Section  */

.process-section {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
    height: 100vh;
}

.process-section-left {
    display: flex;
}

.process-section-right {
    display: flex;
    justify-content: center;
}

h3 a {
    color: #0FD1B9;
    text-decoration: underline;
}

.feature-item .icon-process {
    float: left;
    border: none;
    background-color: none;
    text-align: center;
    border-radius: 50%;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    margin-right: 0.8rem;
}

.feature-item .icon-process img {
    width: 25px;
    height: 25px;
}

/* Crew Section */
/* our work now */

.crew-sy {
    background-color: #0FD1B9;
}

.crew-sy .crew-section-left {
    max-width: 800px;
}

.crew-sy h3 a {
    color: white;
}

.crew-sy img {
    width: 50px;
    margin-bottom: 15px;
}

.crew-sy .cd-section.row {
    max-height: 560px;
    min-height: 200px;
}

/* Contact Section  */

.contact-sy {
    background-color: #EDEBEA;
    padding-bottom: 2rem;
}

.cd-section-text.feature-content {
    padding-right: 3rem;
}

.cd-section-text.feature-content img {
    max-width: 45px;
    margin-top: 20px;
}

.cd-section.footer div:nth-child(3) {
    margin-left: 10rem;
}

.cd-section.footer div:nth-child(3).logo-image-footer {
    margin: 0;
}

.logo-image-footer {
    display: block;
    margin-bottom: 0.4rem;
}

.footer-section-right {
    margin-top: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-section-left {
    margin-top: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* footer */

.footer {
    background-color: #3B3B3B;
    padding: 1rem 0;
}

.footer-section-info {
    justify-content: space-between;
}

.contact-section {
    align-items: center;
    display: flex;
}

.contact-section-info {
    font-size: 1rem;
    line-height: 1.5rem;
}

.contact-section-info i {
    padding: .3rem;
}

.contact-section-left {
    margin-bottom: 0.4rem;
    display: grid;
    justify-content: normal;
}

.contact-section-left p>i {
    margin-right: .5rem;
}

.contact-section-right {
    display: flex;
    justify-content: flex-end;
}

div.footer-social {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

a.footer-social i {
    font-size: 1.7rem;
    color: white;
    margin: 0.25rem;
}

div.form-group {
    margin: 2rem 0;
    width: 100%;
}

.form-group input {
    background: none;
    border: none;
    border-bottom: 1px solid #13B5AF;
}

textarea {
    background: #00000000;
    border: 1px solid #13B5AF;
    min-width: 30rem;
    min-height: 5rem;
    line-height: normal;
    color: #363636;
    padding: .5rem;
    font-size: 1rem;
    font-style: italic;
}

input.form-control {
    color: #757575;
    font-size: 1rem;
    font-style: italic;
    padding: 0px;
}


/* Carousel */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item {
    min-width: 100rem;
}
