html {
    overflow-x: hidden;
}

body {
    background: #212121 !important;
    font-size: .9rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    color: #000;
    font-weight: 550;
    font-family: 'Titillium Web', sans-serif;
}

h5,
h6 {
    color: #ffffff;
    margin-bottom: 0;
}

button.btn.icon-sy {
    display: inline-block;
    padding: 15px 10px;
    border: 1px solid white;
}

.nav-link {
    margin: 0 2rem 0 0;
    padding: 0;
}

.mb-3,
.my-3 {
    margin-bottom: 0!important;
}

.jumbotron {
    padding: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-bottom: solid 1px #fff;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-item a {
    color: #fff
}

.bg-light {
    background-color: #181919 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #ff000000;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #0FD1B9;
}

a:hover {
    text-decoration: none;
    color: #0FD1B9;
}

a a:focus {
    outline: none;
    color: #0FD1B9;
}

p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

label {
    color: white;
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

.tab-content {
    border: none;
}

.nav-link {
    display: block;
}

a:not([href]):not([tabindex]) {
    color: #0FD1B9;
}


/* Icons */

.lni-heart,
.lni-laptop,
.lni-target,
.lni-eye,
.lni-emoji-happy,
.lni-book,
.lni-hand {
    font-size: 2rem;
    color: #fff;
}


/* svgs */

.keyboard-sy {
    width: 65%;
    padding: .5rem;
}

.astronaut-sy {
    width: 80%;
    padding: .5rem;
}

.planet-sy {
    padding: 1rem;
}

#main {
    width: 80%;
}

.navbar-sy {
    display: block;
    color: white;
}

.tabs-sy {
    margin-top: 1rem;
}

.main-culture p {
    color: #2a2a2a;
}

.main-culture li {
    color: #2a2a2a;
}

.culture-info-lg {
    background-color: #1FDBA7;
    padding: 1rem 0;
}

.culture-info-md {
    background-color: #F2EEE2;
    padding: 1rem 0;
}

.culture-info-md-a {
    background-color: #04C6CE;
    padding: 1rem 0;
}

.culture-info-sm {
    background-color: #0FD1B9;
    padding: 1rem 0;
}

.culture-info-sm-a {
    background-color: #F2EEE2;
    padding: 1rem 0;
}

.navbar-brand {
    width: 100%;
    max-width: 15%;
}

.navbar-brand-id {
    width: 100%;
    max-width: 30%;
}

.navbar-content {
    margin: 2rem auto 1rem;
}

.culture-content {
    margin-top: 2rem!important;
}

.content-footer {
    margin: 4rem auto 1rem !important;
    display: flex;
    flex-flow: column nowrap;
    color: #fff;
}

.card-synaptic {
    background-color: #fff;
    padding: 40px 20px;
    min-height: 301.33px;
}

.card-synaptic-id {
    background-color: #fff;
    padding: 20px 20px;
    margin: .8rem;
}

.card-synaptic-reference {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    min-height: 391.5px;
}

.card-synaptic-reference p {
    color: #2d2d2d;
}

.card-synaptic-history {
    background-color: #fff;
    padding: 40px 20px;
    min-height: 385.5px;
    max-height: 100%;
    min-height: 28rem;
}

.card-synaptic-history p {
    font-size: 12px;
    line-height: 19px;
    color: #2d2d2d;
}

.id-content {
    margin: 2rem auto !important;
}

.id-content div {
    justify-content: space-between;
}

.perfil-img {
    width: 30%;
    border-radius: 50%;
}

.img-history {
    padding: 1rem 0;
}

.content-values {
    margin-top: 3rem;
}

.culture-content .row {
    justify-content: space-between;
}

.astronaut-content {
    justify-content: center;
    display: flex;
}

.img-values {
    padding: 0 2rem 2rem 0;
    display: flex;
    max-width: 80%;
    height: auto;
    width: 100%;
    margin: auto;
}

.img-personality {
    padding: .8rem;
}

img.img-fluid.img-personality.astronaut {
    max-width: 52%;
}

.perfil-card {
    background: #F1F2F3;
    padding: 1rem;
    margin: 1rem;
    width: 50px;
}

.reference-content {
    margin-top: 2rem;
}

.main-reference h2 {
    color: #1FDBA7;
}

.main-history h2 {
    color: #1FDBA7;
}

.book-reference {
    width: 100%;
    max-width: 8rem;
    margin: auto;
}

.content-personality {
    margin: auto;
    justify-content: center;
    display: flex;
}

.history-content {
    margin: 2rem 0;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-brand {
    width: 100%;
    display: block;
    margin-bottom: 0.4rem;
}

.social-icons {
    display: inline-flex;
}

a.footer-social i {
    font-size: 1.7rem;
    margin: 0.25rem;
}

div.footer-social {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

div.footer-social-id {
    display: contents;
}

.footer-social-id i {
    font-size: 25px;
    padding: .2rem;
}


/* ID Synaptic */

#id-synaptic {
    max-width: 40%;
    width: 100%;
    background-color: black;
    margin: 4rem auto;
    padding: 2rem 3rem;
    color: white;
    margin: 2rem auto;
}

#id-synaptic p {
    color: #e7e5e5;
    font-size: 1rem;
}

#id-synaptic h4 {
    color: white;
}

#id-synaptic hr {
    border-color: white;
}

.id-perfil {
    display: grid;
    grid-template-columns: 30% 60%;
}

.id-perfil .col {
    padding: 0;
    margin: auto;
}

.description-id {
    margin-top: 20px;
    padding: 0;
}

.id-img {
    width: 80%;
    border-radius: 100%;
    display: flex;
}

.synaptic-links {
    display: grid;
    justify-items: center;
}

.qr-img {
    width: 35%;
    margin: auto;
    margin-top: 1rem;
    height: min-intrinsic;
}

.info-id.row,
.social.row {
    padding: 1rem 0 0 0;
    margin: 1rem 0 0 0;
    border-top: 1px solid #b7b7b7;
}

.social.row div {
    margin-top: -0.8rem;
}

.info-id h5 {
    width: 100%;
    margin: 0 0 0.6rem;
    font-size: 1.2rem;
}

.info-id .col {
    padding: 0px;
    white-space: nowrap;
    margin: 0 10px 0 0;
}

#id-synaptic .info-id.row a p {
    display: inline-block;
    font-size: 1rem;
    color: #10d1b8;
}

a .lni-close {
    font-size: 1.5rem;
    color: #fff;
}

.close-id {
    margin-left: auto;
}

.lni-envelope,
.lni-phone-handset,
.lni-arrow-top-right {
    font-size: 1.1rem;
    vertical-align: sub;
}

.info-id .row a i {
    font-size: 2.5rem;
    margin: 1rem 1rem 0 0;
}
