/* General */

.container {
    margin: 0 auto;
    height: 100%;
}

.navbar {
    background-color: #00000000;
    min-height: 50px;
    padding: 4rem 0 1rem 0;
}

.navbar.top-nav-collapse {
    padding-top: 1rem;
}

.navbar-brand img {
    width: 120%;
}

.cd-section.row {
    min-height: 100vh;
}

.cd-section.container-fluid {
    display: flex;
    align-items: center;
}


/* main header */
/* left or right is now used just as a name*/

#header-sy {
    background-color: #E4EBF0;
}

.row.header-sy {
    height: 90vh;
    max-height: 800px;
}

.row.header-sy>div {
    max-height: 800px;
}

.header-sy .header-sy-right {
    width: 90%;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.header-sy-right h1 {
    line-height: 1.2;
    color: #073833;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 5rem;
}

.header-sy-right div p {
    font-size: 1.1rem;
    color: #2B4141;
    font-weight: 300;
    margin-top: 10px;
}

.header-sy-right div h1, .header-sy-right div p {
    margin-left: 7.5rem;
}

.header-sy-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}

.header-sy-left div {
    width: 100%;
}

.header-sy-left object {
    width: 60%;
}

.header-sy .header-img {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    height: inherit;
}

.header-sy .header-img img {
    max-width: 95%;
    margin-left: auto;
    border-top-left-radius: 8px;
}

/* under header Section  */

.process-section {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
    height: 45vh;
}

.process-section h2 {
    font-size: 2.3rem;
    font-weight: 300;
}

.process-section img {
    margin-right: 1rem;
}

.process-section h2 span {
    color: #24BCAB;
    font-weight: 400;
}

.process-section-detail {
    display: flex;
}

.process-section-left {
    display: flex;
}

.process-section-right {
    display: flex;
    justify-content: center;
}

.process-section .feature-item {
    padding: 10px 45px;
}

.feature-item .icon-process {
    float: left;
    border: none;
    background-color: none;
    text-align: center;
    border-radius: 50%;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    margin-right: 0.8rem;
}

.feature-item .icon-process img {
    width: 25px;
    height: 25px;
}

/* benefits section */

.crew-sy .crew-section-left {
    max-width: 800px;
}

.crew-sy h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.crew-sy h2 span {
    color: #24BCAB;
    font-weight: 400;
}

.crew-sy h3 {
    color: #2B4141;
    margin-bottom: 60px;
}

.crew-sy h4 {
    font-size: 1.25rem;
    color: #2B4141;
    display: inline-block;
}

.crew-sy .cd-section {
    width: 70%;
}

.crew-sy img {
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 9px;
    max-width: 90%;
}

.crew-sy .benefits-item {
    display: flex;
    align-items: end;
    padding: 1rem 0.6rem 0.6rem 0;
}

.crew-sy .crew-section-right {
    margin-left: auto;
}

.crew-sy .background {
    position: absolute;
    background-color: #EFEDED;
    right: 0%;
    width: 75%;
}

/* products section */


.products-sy .container {
    justify-content: center;
    padding-bottom: 10rem;
    max-width: 1290px;
    padding-left: 2rem;
}

.products-sy h2 {
    font-size: 3rem;
    color: #546576;
    text-align: center;
    padding: 9rem 0rem 5rem 0;
}

.products-sy h2 span {
    color: #24BCAB;
    font-weight: 400;
    text-align: center;
}

.products-sy .product-container {
    max-width: 50%;
    flex-grow: 1;
    padding: 0px;
}

.products-sy .product-container:nth-child(odd) {
    margin-top: 12rem;
    margin-bottom: -5rem;
}

.products-sy .product-container:nth-child(even) {
    margin-top: -4rem;
    margin-right: 65px;
}

.products-sy .product-item1 {
    background-color: #EAF0F4;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.products-sy .product-item2 {
    background-color: #EFEDED;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.product-container img {
    height: auto;
    align-self: center;
    border-radius: 5px;
}

.product-container .vertical img {
    max-width: 35%;
}

.product-container .horizontal img {
    max-width: 80%;
}


.products-sy .product-container h3 {
    font-size: 2.2rem;
    margin-top: 2rem;
    font-weight: 400;
}

.products-sy .product-container div>p {
    color: #546576;
    padding-top: 1.4rem;
    display: block;
    max-width: 70%;
}

.products-sy .product-container a {
    color: #546576;
    padding-top: 1.4rem;
    display: block;
}

.products-sy .product-container a p, .products-sy .product-container a:hover p{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px 0 0;
}

.products-sy .product-container a img {
    width: auto;
}

/* credentials */

.credentials-sy {
    background-color: #E4EBF0;
}

.credentials-sy .container {
    justify-content: center;
    padding-bottom: 4rem;
}

.credentials-sy h2 {
    font-size: 3rem;
    color: #546576;
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.credentials-sy h2 span {
    color: #24BCAB;
    font-weight: 400;
    text-align: center;
}

.credentials-sy .credentials-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 2rem 0 0;
}

.credentials-sy img {
    width: 120px;
    padding: 20px;
}

.credentials-sy h3 {
    font-size: 1.7rem;
}

.credentials-sy h3 span {
    color: #24BCAB;
    font-weight: 400;
}

.credentials-sy a {
    color: #546576;
    text-decoration: underline;
}

.credentials-sy p {
    color: #546576;
}

/* clients */

.clients-sy .container {
    justify-content: center;
    padding-bottom: 4rem;
    min-height: inherit;
}

.clients-sy h2 {
    font-size: 2.7rem;
    color: #546576;
    text-align: center;
    padding: 5rem 0;
}

.clients-sy h2 span {
    color: #24BCAB;
    font-weight: 400;
    text-align: center;
}

.clients-sy .clients-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.clients-sy .clients-item img {
    max-width: 130px;
    height: fit-content;
}

/* footer */

.footer {
    background-color: #5E6D78;
    padding: 5rem 0;
}

.footer-social {
    margin-left: auto;
}

.footer p {
    color: #fff;
    font-size: 1.5rem;
}

.footer p span {
    color: #62E7C7;
}

.footer a {
    float: right;
    margin-left: 15px;
}
