:root {
    --animate-duration: 900ms;
    --animate-delay: 1s;
}

html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fff !important;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #abacae;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5 {
    color: #546576;
    font-weight: 300;
}

button.btn.icon-sy {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #13B5AF;
}

button.btn.icon-sy:hover {
    background-color: rgba(206, 202, 200, 0.247);
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #0FD1B9;
}

a:hover {
    text-decoration: none;
    color: #0FD1B9;
}

a a:focus {
    outline: none;
    color: #0FD1B9;
}

p {
    font-weight: 300;
    margin: 0px;
    color: #2B4141;
}

label {
    color: #13B5AF;
    font-size: 1.2rem;
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

.section-header {
    margin-bottom: 30px;
}

.section-header p {
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

.navbar-language .nav-link {
    padding: .5rem!important;
}

.section-title {
    font-size: 30px;
    color: #222222;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.padding-none {
    padding: 0px;
}

.bg-gray {
    background: #f9f9f9;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(15, 17, 27, 0.8);
}

.btn {
    font-size: 1rem;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common {
    background-color: #0FD1B9;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.btn-common:hover {
    color: #fff;
    background-color: #222;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.btn-border {
    color: #0FD1B9;
    background-color: transparent;
    border: 1px solid #0FD1B9;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-border:hover {
    color: #fff;
    border-color: #0FD1B9;
    background-color: #0FD1B9;
}

.btn-border:focus {
    color: #fff;
    border-color: #0FD1B9;
    background-color: #0FD1B9;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    padding: 7px 18px;
    text-transform: capitalize;
}

button:focus {
    outline: none !important;
}

.icon-close,
.icon-check {
    color: #0FD1B9;
}

.lni-rocket {
    font-size: 18px;
    padding: 0 5px;
    vertical-align: middle;
}

.social-icon a {
    color: #666;
    background: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
    color: #fff !important;
}

.social-icon .facebook:hover {
    background: #3b5999;
}

.social-icon .twitter:hover {
    background: #4A9CEC;
}

.social-icon .instagram:hover {
    background: #D6274D;
}

.social-icon .linkedin:hover {
    background: #1260A2;
}

.social-icon .google:hover {
    background: #CE332A;
}


/* ScrollToTop */

a.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    text-decoration: none;
}

a.back-to-top i {
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #0FD1B9;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover,
a.back-to-top:focus {
    text-decoration: none;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

.loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #0FD1B9;
}

#loader-1:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after {
    border: 7px solid #f2f2f2;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.section-padding {
    padding: 60px 0;
}

hr {
    border-top: 1px dotted #ddd;
}

.text-wrapper {
    height: 100%;
    display: table;
    padding-left: 140px;
}

.text-wrapper>div {
    vertical-align: middle;
    display: table-cell;
}

.feature-thumb {
    padding: 40px 0;
}

.feature-item {
    padding: 10px 60px;
    display: flex;
}

.feature-item .icon {
    float: left;
    border: 1px solid #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

.feature-item .icon i {
    font-size: 36px;
    color: #fff;
    line-height: 80px;
}

.feature-content p {
    color: #363636;
    font-size: 1.1rem;
}

.feature-content h3 {
    color: #0FD1B9;
    font-weight: bold;
}

.feature-item:hover .icon {
    background: #fff;
}

.feature-item:hover .icon i {
    color: #0FD1B9;
}


/* Services Item */

.services-item {
    background: #fff;
    margin: 15px 0;
    padding: 30px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
    font-size: 42px;
    color: #0FD1B9;
}

.services-item .services-content h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-item .services-content h3 a {
    font-size: 18px;
    color: #585b60;
}

.services-item .services-content h3 a:hover {
    color: #0FD1B9;
}

.services-item:hover {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#service {
    position: relative;
}


/* Container Outside Shape */

.container-outside {
    position: absolute;
    top: 0;
    right: 0;
    width: 47.1%;
    height: 100%;
    background: #0FD1B9;
    overflow: hidden;
}

.heading {
    padding-left: 30px;
}

.d-table {
    display: table;
    width: 100%;
    height: 100%;
}

.dt-cell {
    display: table-cell;
    vertical-align: middle;
}

.skill-area img {
    border-radius: 4px;
}

.skills-section {
    margin-top: 30px;
}

.skills-section .progress-box h5 {
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.skills-section .progress {
    background: #f9f9f9;
    height: 10px;
    margin-bottom: 30px;
}

.skills-section .progress .progress-bar {
    background: #0FD1B9;
}

.navbar-brand {
    position: relative;
    padding: 0px;
    max-width: 200px;
}

.top-nav-collapse {
    z-index: 888888;
    top: 0px !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    background: #E4EBF0 !important;
}

.top-nav-collapse .navbar-brand {
    top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
    color: #363636 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #0FD1B9 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
    color: #0FD1B9 !important;
}

.indigo {
    background: transparent;
}

.menu-bg {
    background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link i {
    margin-left: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #363636;
    font-weight: 300;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 0.95rem;
    line-height: 40px;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link.nav-active{
    color:#0FD1B9!important;
}

p.language {
    display: flex;
}

p.language-text {
    display: inline-block;
    line-height: 40px;
    padding: .5rem 0;
    color: #363636;
}

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active>a,
.navbar-expand-md .navbar-nav li a:focus {
    color: #0FD1B9;
    outline: none;
}

.navbar-expand-md .navbar-nav .active>.nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open>.nav-link {
    color: #0FD1B9 !important;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #0FD1B9 !important;
}

.navbar {
    padding: 0;
}

.navbar li.active a.nav-link {
    color: #0FD1B9;
}

.menu-white .navbar-nav .nav-link {
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 210px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    border: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    display: inline-block;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    color: #0FD1B9;
    background: #f7f7f7;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}


/* ==========================================================================
3. Hero Area
========================================================================== */

#hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    background: url(../img/hero-bg.png);
}

#hero-area .contents {
    padding: 170px 0px 50px;
}

#hero-area .contents .head-title {
    color: #585b60;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}


/* Team Item */


.team-item {
    margin: 15px 0;
    border-radius: 0px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .team-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.team-item .team-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    width: 100%;
    border-radius: 0px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon {
    color: #fff;
    top: 45%;
    position: absolute;
    display: table-cell;
    margin: 0 auto;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons {
    padding-left: 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li {
    display: inline-block;
    margin: 0 4px;
}

.team-item .overlay-social-icon .social-icons li a {
    letter-spacing: 0px;
    outline: 0 !important;
}

.team-item .overlay-social-icon .social-icons li a i {
    font-size: 20px;
    color: #fff;
    width: 36px;
    height: 36px;
    background: #0FD1B9;
    display: block;
    border-radius: 30px;
    line-height: 36px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-facebook-filled {
    background: #3B5998;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-twitter-filled {
    background: #00aced;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-instagram-filled {
    background: #fb3958;
}

.team-item .info-text {
    padding: 15px 0px;
    background: none;
    text-align: left;
}

.team-item .info-text h3 {
    color: #13B5AF;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.team-item .info-text h3 a {
    color: #333;
}

.team-item .info-text h3 a:hover {
    color: #0FD1B9;
}

.team-item .info-text h3 {
    color: #333;
}

.team-item .info-text p {
    margin: 0;
    color: #888;
    font-size: 1rem;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.info-text p:hover {
    color: #0FD1B9;
}


/* ==========================================================================
   Pricing Table Style
   ========================================================================== */

/* #pricing {
    text-align: center;
} */

#pricing .title {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #0FD1B9;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#pricing .title h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px;
}

#pricing .table {
    margin-top: 15px;
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#pricing .table .icon {
    padding-top: 30px;
}

#pricing .table .icon i {
    color: #0FD1B9;
    font-size: 42px;
}

#pricing .table .pricing-header {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}

#pricing .table .pricing-header .price-value {
    font-size: 30px;
    color: #222222;
    position: relative;
    text-align: center;
    font-weight: 700;
    padding: 30px 0;
    border-bottom: 1px solid #f1f1f1;
}

#pricing .table .pricing-header .price-value sup {
    font-size: 18px;
    font-weight: 600;
    top: -18px;
}

#pricing .table .pricing-header .price-value span {
    font-size: 14px;
    font-weight: 600;
}

#pricing .table .description {
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 20px;
}

#pricing .table .description li {
    font-size: 14px;
    font-weight: 400;
    color: #abacae;
    padding-bottom: 15px;
}

#pricing .table:hover {
    background: #ffffff;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#pricing #active-tb {
    background: #ffffff;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#pricing #active-tb .title {
    background: #222222;
}

#pricing #active-tb .price-value {
    color: #0FD1B9;
}

#pricing #active-tb .btn-common {
    background: #222222;
}

#pricing .active {
    z-index: 99999;
}


/* others */

.form-control {
    width: 100%;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 8px 20px;
    border: 1px solid #F7F7F7;
}

.form-control:focus {
    border-color: #0FD1B9;
    box-shadow: none;
    outline: none;
}

textarea {
    border-radius: 4px !important;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
}

.contact-form-area h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.contact-right-area {
    margin-left: 50px;
}

.contact-right-area .contact-title {
    margin-bottom: 20px;
}

.contact-right-area .contact-title h1 {
    font-size: 22px;
}

.contact-right {
    padding: 4px;
}

.contact-right .single-contact {
    margin: 30px 0px;
    padding: 3px 55px;
    position: relative;
    color: #abacae;
}

.contact-right .single-contact p {
    margin-bottom: 0px;
}

.contact-right .single-contact p a {
    color: #abacae;
}

.contact-right .contact-icon {
    background: #0FD1B9;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
    left: 0;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
}

#contact {
    position: relative;
    overflow: hidden;
}



/* Footer Area Start */

.footer-area {
    background: #34363a;
}

.links-footer {
    font-size: 1rem;
}

.footer-area .footer-titel {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

.footer-area ul li {
    margin-bottom: 10px;
}

.footer-area ul li a {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}

.footer-area ul li a:hover {
    color: #0FD1B9;
}

.footer-area #subscribe-form {
    margin-top: 15px;
}

.footer-area #subscribe-form .form-group {
    position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 39px;
    border-radius: 0;
    background: transparent;
    color: #0FD1B9;
    border-left: 1px solid #ddd;
}

.copyright {
    background: #34363a;
    padding: 15px;
}

.copyright .footer-logo img {
    width: 80%;
}

.copyright p {
    line-height: 60px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.copyright p a {
    color: #fff;
}

.copyright p a:hover {
    color: #0FD1B9;
}
