    /* small (mobile) */

    @media (max-width: 767px) {
        body {
            font-size: 1rem;
            line-height: 2rem;
        }
        p {
            font-size: 1rem;
        }
        h5 {
            font-size: .8rem;
        }
        .navbar-content {
            margin: 1rem 0;
            max-width: 100%;
        }
        .navbar-brand {
            max-width: 40%;
        }
        .navbar-content button {
            float: right;
        }
        .navbar-text {
            margin-top: 1rem;
        }
        .nav-item {
            margin: .5rem 0;
        }
        .nav-pills {
            display: -webkit-box;
        }
        /* .content-about div {
            margin-bottom: 1rem;
        } */
        div.footer-social {
            justify-content: flex-start;
            margin: 1rem;
        }
        .card-synaptic-reference {
            margin-bottom: 1rem;
        }
        #id-synaptic {
            max-width: 90%;
            padding: 1rem;
        }
        .id-perfil {
            display: flex;
            align-items: center;
            margin: 1rem 0;
        }
        .navbar-brand-id {
            max-width: 50%;
        }
        .id-img {
            width: 100%;
        }
        .qr-img {
            width: 40%;
        }
        .info-id {
            margin: .8rem 0;
        }
        .info-id.mobile {
            display: none;
        }
        .description-id {
            display: none;
        }
        .qr-content {
            margin-top: 1rem;
        }
        .nav-pills::after {
            display: none;
        }
        .nav-link-desktop {
            display: none;
        }
        .nav-link-mobile {
            font-size: 12px;
            margin-right: 1.2rem;
        }
        .nav-link-mobile p {
            vertical-align: text-top;
            justify-content: center;
            display: flex;
        }
        .navbar-toggler {
            display: none;
        }
        .card-synaptic-history {
            margin-bottom: 1rem;
        }
    }
    /* medium (tablet) */

    @media (min-width: 768px) and (max-width: 1025px) {}
    /* large (desktop) */

    @media (min-width: 1025px) and (max-width: 1366px) {
        .nav-link .lni-emoji-happy {
            display: none;
        }
        .nav-link-mobile {
            display: none;
        }
    }
    /* xl large */

    @media (min-width: 1367px) and (max-width: 1920px) {
        .nav-link-mobile {
            display: none;
        }
    }
    /* xxlarge */

    @media (min-width: 1921px) {}
