/* General */

/* smaller mobile */

@media (max-width: 340px) {
   .credentials-sy div.credentials-item {
        display: flex;
        flex-flow: column;
        padding-left: 2rem;
    }
}

/* small (mobile) */

@media (max-width: 767px) {
    body {
        font-size: 1rem;
        line-height: 2rem;
    }

    .navbar {
        padding-top: 1rem;
        background-color: #E4EBF0;
        box-shadow: 0px 1px 4px 1px #7d7d7d2b;
    }

    .navbar-collapse.collapse.show, .collapsing.navbar-collapse.collapse.show {
        width: 100vw;
        text-align: right;
    }

    .navbar-brand {
        margin: 0px 0px 0px 2rem;
        max-width: 80px;
    }

    .container-fluid {
        padding: 0px;
    }

    button.navbar-toggler {
        font-size: 1.7rem;
        margin-right: 1rem;
    }

    /* header */

    .row.header-sy {
        height: auto;
    }

    .header-sy .header-sy-right {
        min-height: auto;
    }

    .header-sy .header-sy-right h1 {
        font-size: 2rem;
        margin-top: 9rem;
    }

    .header-sy-right div h1, .header-sy-right div p {
        margin-left: 2.5rem;
    }

    .header-sy-right div p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .header-sy .header-img img {
        margin-top: 1.8rem;
        max-width: 85%;
    }


    /* process section */

    .process-section h2 {
        margin: 2.5rem 0 0 2.5rem;
        font-size: 2rem;
    }

    .process-section-detail {
        flex-flow: column;
        margin: 2rem 0;
    }

    div.process-section {
        height: auto;
    }

    .process-section p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .process-section .feature-item {
        padding: 15px 45px;
    }

    .process-section-right {
        justify-content: left;
    }

    .process-section .feature-item img {
        max-width: 50px;
    }

    /* benefits */

    .crew-sy .background {
        display: none;
    }

    .crew-sy .container.cd-section {
        background-color: #EFEDED;
        width: 100%;
        padding: 2.5rem 2rem 0 2.5rem;
    }

    .crew-sy h2 {
        font-size: 2rem;
    }

    .crew-sy h4, .crew-sy h3 {
        font-size: 1.1rem;
    }

    .crew-sy h3 {
        margin-bottom: 30px;
    }

    .crew-sy .crew-section-right img {
        padding: 2rem;
        border-radius: 40px;
    }

    .crew-sy .benefits-item img {
        max-width: 20px;
    }

    /* products */

    .products-sy .container {
        padding-left: 0px;
    }

    .products-sy h2 {
        font-size: 2rem;
        padding: 4rem 1rem 1rem 1rem;
    }

    .products-sy .product-container:nth-child(even), .products-sy .product-container:nth-child(odd) {
        margin: 3rem 0 0 0;
        padding: 0px;
        max-width: 85vw;
    }

    .products-sy .product-container .product-item1, .products-sy .product-container .product-item2 {
        height: 300px;
        min-height: 300px;
    }

    .products-sy .product-container h3 {
        font-size: 1.5rem;
    }

    .products-sy .product-container p {
        font-size: 0.9rem;
        line-height: 1.2rem;
        max-width: 100%;
    }

    .products-sy .container {
        padding-bottom: 5rem;
    }

    .product-container .horizontal img {
        max-height: 160px;
    }

    /* credentials */

    .credentials-sy .container {
        padding-bottom: 2rem;
    }

    .credentials-sy h2 {
        font-size: 2rem;
        padding: 4rem 1rem;
    }

    .credentials-sy .credentials-item {
        padding-bottom: 2rem;
        align-items: flex-start;
    }

    .credentials-item h3 {
        font-size: 1.5rem;
    }

    .credentials-item p, .credentials-item a {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .credentials-sy img {
        width: 100px;
    }

    /* clients */

    .clients-sy h2 {
        font-size: 2rem;
        padding: 5rem 1rem 2rem 1rem;
    }

    .clients-sy .clients-item {
        flex-flow: row wrap;
        align-items: center;
    }

    .clients-sy .clients-item img {
        max-width: 45%;
        margin: auto;
        height: auto;
        padding: 1rem;
    }

    /* itau logo */

    .clients-sy .clients-item img:nth-child(2) {
        max-height: 90px;
    }

    /* footer */

    .footer p {
        font-size: 1.2rem;
    }

    .footer .footer-social {
        margin-top: 2rem;
    }

    .footer .footer-social a {
        float: left;
        margin: 0 1.2rem 0 0;
    }

}

/* small tablet */

@media (min-width: 768px) and (max-width: 914px) {

    /* under header */

    .process-section div.feature-item {
        padding: 1rem 0;
    }

    /* benefits */

    .crew-sy div.cd-section.row {
        margin-left: 5rem;
    }

    .crew-sy div.crew-section-left {
        max-width: 56%;
    }

    /* products */

    section.products-sy .container {
        padding-bottom: 5rem;
    }

    section.products-sy div h2 {
        padding: 3.5rem 0rem;
    }

    section.products-sy .product-item1,  section.products-sy .product-item2 {
        min-height: 500px;
    }

    section.products-sy div.product-container p {
        max-width: 50vw;
    }

    /* credentials */

    .credentials-sy div.credentials-item {
        padding-right: 1rem;
    }

}

/* medium (tablet) */

@media (min-width: 768px) and (max-width: 1199px) {

    body section>div {
        margin: auto;
    }

    body {
        font-size: 1rem;
        line-height: 2rem;
    }
    .nav-item.ipad-menu{
        color: black!important;
    }

    .navbar.navbar-expand-md {
        padding-top: 2rem;
    }

    /* header section */

    .header-sy-right div h1 {
        font-size: 3rem;
        max-width: 750px;
    }

    .row.header-sy {
        height: auto;
        padding-top: 6rem;
        margin: 0px;
    }

    .header-sy-right div p, .header-sy-right div h1 {
        padding-left: 7rem;
        margin-left: 0px;
    }

    .header-sy-right div p {
        max-width: 500px;
    }

    .header-sy .header-sy-right {
        min-height: auto;
    }

    .row.header-sy img {
        padding: 2rem 0 0 2rem;
        margin-left: auto;
    }

    /* under header */

   .process-sy .process-section {
        height: auto;
        padding: 4rem 3rem 4rem 6rem;
    }

    .process-sy .process-section-detail {
        display: flex;
        flex-flow: column;
    }

    .process-sy .process-section-left {
        height: auto;
    }

    .process-sy h2 {
        font-size: 3rem;
    }

    .process-sy p {
        font-size: 1.3rem;
    }

    .process-section .feature-item {
        padding: 2rem 4rem;
    }

    .process-section .process-section-right {
        justify-content: left;
    }

    /* benefits */

    .crew-sy .cd-section.row {
        min-height: auto;
        padding: 6rem 0;
        margin-left: 8rem;
    }

    .crew-sy .crew-section-left {
        max-width: 50%;
        margin-right: 2rem;
    }

    .crew-sy .background {
        max-height: 55%;
    }

    .crew-sy .crew-section-right {
        max-width: 35%;
    }

    /* products */


    .products-sy .product-container:nth-child(odd), .products-sy .product-container:nth-child(even) {
        margin: 0 0 4rem 0;
        max-width: 70%;
    }

    .products-sy .product-item1, .products-sy .product-item2 {
        min-height: 700px;
    }

    .products-sy .product-container h3 {
        font-size: 2.5rem;
    }

    .products-sy .product-container p {
        font-size: 1.3rem;
        max-width: 35vw;
    }

    /* credentials */

    .credentials-sy .cd-section.row {
        min-height: auto;
    }

    .credentials-sy .credentials-item {
        padding: 1rem 10rem 2rem 0rem;
        max-width: 80vw;
    }

    .credentials-sy .credentials-item p {
        font-size: 1.3rem;
    }

    .credentials-sy .credentials-item h3 {
        font-size: 1.7rem;
    }

    /* clients */

    .clients-sy .clients-item {
        flex-flow: row wrap;
        max-width: 700px;
    }

    .clients-sy .clients-item img {
        flex: 1;
        margin: 0px 30px 50px 30px;
    }

    /* itau logo */

    .clients-sy .clients-item img:nth-child(2) {
        max-height: 75px;
    }

    /* footer */

    .footer .container {
        padding: 0 5rem;
    }

    .footer .col-lg-6 {
        max-width: 60%;
        flex: 0 0 60%;
    }

    /* .navbar-expand-md .navbar-nav .nav-link {
        color: #000;
    }

    .top-nav-collapse .navbar-nav .nav-link {
        color: #494747 !important;
    }

    .contact-section {
        justify-content: center;
    }

    .navbar-brand img {
        width: 100px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0px 15px;
    } */
}


/* large (desktop) */

@media (min-width: 1200px) {
    body {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    body section>div {
        margin: auto;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0px;
    }
    .header-sy-left object {
        width: 70%;
    }

    /* itau logo */

    .clients-sy .clients-item img:nth-child(2) {
        max-height: 70px;
    }

    /* services page */
    .services-section .slidecontainer {
        margin: 4rem;
        padding-right: 2rem;
    }
    .pricing-list li {
        font-size: 1rem;
    }
    div.services-section.contact.row {
        width: 70%;
        margin: auto;
    }
}

/* larger desktop */

@media (min-width: 1600px) {

    body section>div {
        max-width: 1500px;
        margin: auto;
    }

    .container {
        margin: 0 auto;
        max-width: 1500px;
        padding: 0px;
    }

    .header-sy-right div h1, .header-sy-right div p {
        margin-left: 0px;
    }
}


