/* background */

section.section-padding {
    background-image: url("../img/services/galaxy.png");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2rem;
}

.cd-section.container-fluid.services-section.slider {
    background: #000;
    height: inherit;
}

.cd-section.container-fluid.services-section {
    height: auto;
}


/* General elements */

.services-section h1 {
    padding-top: 4rem;
}

.services-section {
    display: flex;
    flex-flow: column;
    padding: 2rem;
}

.services-section h2 {
    font-size: 23px;
    font-weight: 500;
}

.services-section h4 {
    font-size: 27px;
    color: #97EFCB;
    margin-top: 20px;
}

.cd-section-text {
    max-width: none;
}


/* Service Item */

.services-section-items {
    display: flex;
    flex-flow: row wrap;
    margin: 4rem 0;
}

.service-item:hover {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

.service-item {
    text-align: center;
    border-radius: 0px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.service-item img {
    height: 150px;
    margin: 10px;
}


/* Slider section */

.services-section .slidecontainer {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3rem;
}

.slidecontainer input.slider {
    width: 90%;
    cursor: pointer;
}

h2.result {
    font-size: 35px;
    color: #97EFCB;
    margin-top: 50px;
    font-weight: 700;
}

.box-minmax {
    width: 90%;
    display: flex;
    justify-content: space-between;
    line-height: 0.9rem;
}

.box-minmax span {
    color: #fff;
    font-size: 20px;
}

.second-slider,
.first-slider {
    padding: 0px;
    margin-bottom: 25px;
}


/* Slider input */

.slidecontainer input.slider {
    height: 10px;
    border-radius: 10px;
    background: #ffffff85;
    border: none;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0FD1B9;
    cursor: pointer;
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: #0FD1B9;
    cursor: pointer;
}

/* Slider pricing */

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

.single-pricing {
    background-color:aliceblue;
    padding: 1.2rem;
    border-radius: 10px;
}

.pricing-card {
    margin: 3rem 0;
    border-radius: 5px;
}

.pricing-title h3 {
    color: #0FD1B9;
    padding: 2rem 0 1rem 0;
    font-size: 1.5rem;
}

.pricing-price {
    padding: 1.5rem;
}

.pricing-price h3{
    color: black;
}

.pricing-list {
    display: inline-grid;
}

.pricing-list li {
    color: black;
    padding-bottom: 1rem;
    line-height: 1.2rem;
    display: flex;
    font-size: .9rem;
}



.pricing-list li i {
    color: #0FD1B9;
    height: 16px;
    width: 16px;
}

.pricing-list li> i> p {
    padding-left: .5rem;
}

.pricing-btn {
    padding: 1rem 0;
}

/* contact section */

.services-section .contact.row {
    padding: 6rem 0;
}
