/* Service Item */

.services-section-items {
    display: flex;
    flex-flow: row;
    margin: 5rem 10rem;
}

.service-item:hover {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

.service-item {
    background: rgba(204, 204, 204, 0.356);
    height: 300px;
    margin-right: 40px;
    border-radius: 0px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

