#team_container {
    margin-top: -130px;
}

.title-section {
    background-color: #DBEEF2;
    padding-top: 150px;
}

html [type=button] {
    -webkit-appearance: initial;
}

.team-cards {
    max-width: 65rem;
    margin: -15px auto;
}

.cd-section-text {
    padding: 4rem 1rem;
}

.secondary-page p {
    color: #363636;
}

.secondary-page h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
